extends base

block vars
  - var title = 'Login'

block body
  div.row
    div.col-md-2
    div.col-md-7
      center
        h3 Login Form
        br
    div.col-md-3

  div.container
    if error
      div.form-group.row
        div.col-md-2
        div.col-md-8.alert.alert-danger
          p Error: #{error}
    if message
      div.form-group.row
        div.col-md-2
        div.col-md-8.alert.alert-success
          p #{message}
    form(method="post",class="form-group")
      input(type="hidden" name="_csrf" value=csrfToken)
      div.col-md-2
      div.col-md-8
        div.form-group.row
          label.col-sm-3.form-control-label Email
          div.col-sm-9
            input(type="email", name="email", required=true, placeholder='Email', class="form-control")
        br
        div.form-group.row
          label.col-sm-3.form-control-label Password
          div.col-sm-9
            input(type="password", name="password", required=true, placeholder='Password', class="form-control")
        br
        div.form-group.row
          div.col-sm-offset-3.col-sm-9
            button(type="submit",class="btn btn-primary") Sing In
      div.col-md-2
